@font-face {
  font-family: "Abel";
  font-weight: 400;
  font-style: normal;
  src: url("../assets//fonts/Abel-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Allura";
  font-weight: 400;
  font-style: normal;
  src: url("../assets//fonts/Allura-Regular.ttf");
  font-display: swap;
}

body {
  font-family: "Abel", Tahoma, Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 1em;
  line-height: 1.65;
  color: #373F49;
  background: #eee;
  background-image: url("../assets/img/snow.jpg");
  background-size: cover;
  background-attachment: fixed;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

a {
  color: currentColor;
}

p {
  font-size: 1.2rem;
}

.wrapper {
  margin: 0 auto;
  color: #CCC;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  h3 {
    font-size: 2em;
  }
  
  p {
    font-size: 1.3rem;
  }
}

/**
 * article grid
 */
.article-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 *
 */
.section-headline {
  margin: 0;
}

/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
}

.divider {
  width: 100%;
  border-bottom: 1px solid #333;
}

.date {
  margin: 0;
  margin-top: .5rem;
  display: block;
  color: #FF9800;
}